**/*.tif
Results_Set_1_Linear_5MHz_/Open_PIV_results_40_Test_1/Image_A000.png
Results_Set_1_Linear_5MHz_/Open_PIV_results_40_Test_1/Image_A001.png
Results_Set_1_Linear_5MHz_/Open_PIV_results_40_Test_1/Image_A002.png
Results_Set_1_Linear_5MHz_/Open_PIV_results_40_Test_1/Image_A003.png
